<body>
  <div class="signup-container">
  <div class="signup-header">
    <h1>Sign Up</h1>
  </div>

  <div class="signup-form">
    <form (ngSubmit)="register()" #signupForm="ngForm">
      <div class="input-container">
        <div class="label">Username:</div>
        <input type="text" id="name" name="username" placeholder="Enter your username" [(ngModel)]="username" required>
      </div>

      <div class="input-container">
        <div class="label">Email:</div>
        <input type="email" id="email" name="email" placeholder="Enter your email" [(ngModel)]="email" required>
      </div>

      <div class="input-container">
        <div class="label">Password:</div>
        <input type="password" id="password" name="password" placeholder="Enter your password" [(ngModel)]="password" required>
      </div>

      <div class="footer">
        <button type="submit">Register</button>
      </div>
    </form>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div class="form-links">
      <p>Already have an account? <a routerLink="/login">Log in</a></p>
    </div>
  </div>
</div>
</body>