body {
  background: linear-gradient(to left, #748d92, #3e4c5a);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  overflow: hidden; /* Hide scrollbars */
}

.navbar {
  width: 100%;
  background: #ffffff;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.navbar img {
  width: 100px;
}

.login-container {
  width: 700px; /* Increase the width */
  height: 400px;
  padding: 20px;
  background: linear-gradient(135deg,#d3d9d4, #f7e7e7); /* Add a gradient background */
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #d3d9d4;
  margin-bottom: 10%;
  box-shadow: 25px 30px #3b4753;
  overflow: hidden; /* Hide scrollbars */
  position: relative;
  margin-bottom: 50px;
}

.login-header {
  text-align: center;
}

.login-header h1 {
  margin: 0;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login-form {
  margin-top: 20px;
  width: 90%; /* Ensure the form spans the container */
  display: block;
  text-align: left; /* Reset text alignment for form contents */
  margin-left: 27px;
  font-size: 20px;
  font-weight: bold;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  
}

.login-form input {
  width: calc(100% - 20px); /* Adjust width calculation */
  max-width: 100%; /* Ensure inputs do not overflow */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: rgb(187, 185, 179);
}

.form-links {
  margin-top: 15px;
}

.form-links p {
  margin: 5px 0;
  font-size: 14px;
}

.form-links a {
  color: #007bff;
  text-decoration: none;
}

.form-links a:hover {
  text-decoration: underline;
}

.login-tagline {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.password {
  position: relative;
  margin-bottom: 1rem;
}

.password .fa {
  position: absolute;
  right: 0.7rem;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
}

.center-text {
  text-align: center;
  color: gray;
}

.error-message {
  display: block;
  position: absolute;
  top: 10px; /* Adjust as necessary */
  right: 10px; /* Adjust as necessary */
  background-color: #f8d7da; /* Background color for error message */
  color: #721c24; /* Text color for error message */
  padding: 10px;
  border: 1px solid #f5c6cb; /* Border color for error message */
  border-radius: 5px;
  font-size: 14px;
}